body {
  font-family: Arial, sans-serif;
  background: black;
  text-align: center;
}

#products {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  gap: 15px;
  padding: 20px;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
}

img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
